.file-list{ margin: 30px 0 35px 0; clear: both; }
.file-list .header{ font-weight: bold; }
.file-list .file{ margin: 0 0 20px 0; }
.file-list .item{
    float:  right;
    width:  680px;
    margin: 0 0 0 10px;
}
.file-list .icon{ width: 48px; display: table-cell; }
/*.file-list .link{ width: 400px; display: table-cell; vertical-align: middle; }*/
.file-list .item a:link, .downloads .item a:active, .downloads .item a:visited{
    text-decoration: underline !important;
    color:           #006699 !important;
    font-size:       11px !important;
}
.file-list .link a:hover{
    text-decoration: none !important;
}
.downloads .size{
    color:     #666;
    margin:    6px 0 0 0;
    font-size: 11px !important;
}
