.comment .well {
    background-color: #fdfdfd !important;
    box-shadow: none;
    padding: 8px 12px;
}

.comment .user-link {
    color: #666666;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: underline;
    margin-top: 4px;
}

.comment .user-photo-link {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 3px;
}

.comment .date {
    color: #666666;
    display: block;
    float: left;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 6px;
}

.comment {
    margin-bottom: 9px;
}

.comment .head {
    margin-bottom: 15px;
    height: 16px;
}

.comment a.answer {
    text-decoration: underline;
    font-size: 11px;
    margin-top: 5px !important;
    float: left;
}

.comment a.hash {
    font-size: 11px;
    margin-top: 5px !important;
    float: left;
    margin-right: 10px;
    color: #000000;
}

.comments-ul {
    list-style: none;
    border-bottom: 1px solid #E8E8E8;
    margin-left: 0 !important;
}

.comments-ul .l-comment{
    font-size: 13px;;
}

.comments-ul .user-link {
    color: #333333;
    font-weight: bold;
}

.comments-ul .l-comment {
    color: #333333;
}

.comments-ul li:not(:last-child) {
   border-bottom: 1px solid #E8E8E8;
}

.comments-ul li {
    padding: 10px 0;
}

.comments-ul li .date {
    position: absolute;
    right: 1px;
    top: 0;
    text-align: right;
    font-size: 12px;
    color: #999999;
}

