a.guest.favorite, a.favorite.guest {
    cursor: help;
}

a.favorite, a.favorite.added {
    cursor: pointer;
}

.favs_count {
    /*float: left;*/
    /*font-size: 9px;*/
    /*line-height: 28px;*/
    cursor: help;

    /*position: relative;*/
    /*overflow: hidden;*/
}
