.favorite {
    float: left;
    padding: 6px 0 5px 0;
    margin-right: 5px;
}

.favorite a {
    width: 15px;
    height: 13px;
    display: block;
    margin-top: 1px;
}

.favorite a.guest, .favorite a.guest {
    cursor: help;
}

.favorite a.user, .favorite a.added {
    cursor: pointer;
}

.favs_count {
    float: left;
    font-size: 9px;
    line-height: 28px;
    cursor: help;
    display: block;
    position: relative;
    overflow: hidden;
}
