.span12 form {
    margin: auto !important;
    width: 450px;
    text-align: left !important;
}

.middle-well {
    width: 1115px !important;
}

.middle-well h1 {
    display: inline;
}

.middle-well form {
    display: inline;
}


.middle-well .alert {
    margin-top: 15px !important;
    margin-bottom: 20px !important;
    width: 390px;
}