
body {
    /*background-image: url(/img/site/bg1.jpg);*/
    background-attachment: fixed;
    background-color: #444;
    background-position: center top;
    background-repeat: no-repeat;
}

#main-wrapper {
    background: url(/img/site/white-bg.png);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 4px 4px 4px 4px;
    width: 600px !important;
    margin-left: auto;
    margin-right: auto;
    width: 1024px !important;
    padding: 10px 15px;
}


.modal {
    display: none;
    width: 700px;
    margin: -350px 0 0 -280px;
}
iframe{
    border:0
}
.clear{
    clear: both;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.user-photo-link {
    padding: 0 0 0 0 !important;
    width:23px;
    height:23px;
    display:block;
    overflow:hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.row-fluid .well {
    background-color: #F9F9F9;
}

.row-fluid .span8.well {
    background-color: #FFFFFF;
}

.well {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 #FFFFFF;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}


.alert p {
    margin: 0 0 0 0!important;
}

.oper-btn {
    width: 244px;
}

#sections-menu li a{
    line-height: 24px;
    font-size: 12px;
}

.well h4 {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

span.italic-12 {
    font-style: italic;
    font-size: 12px;
}

.mright10 {
    margin-right: 10px;
}


/*elrte editor fix START*/
.el-dialogform-content table, .el-dialogform-content tbody, .el-dialogform-content tr{
    display: block;
}
.el-dialogform-content tr td:first-child{
    width: 90px;
    font-size: 11px;
}

.el-dialogform-content select{
    width:auto;
    height: auto;
    line-height: inherit;
    margin-bottom: 5px;
}
.el-dialogform-content input{
    margin-bottom: 7px;
    width:auto;
    padding: 2px 3px;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}
.el-dialogform-content legend{
    line-height: inherit;
    width: auto;
}
/*elrte editor fix END*/
.light-grey {
    color: #C0C0C0;
}

/*MediaAlbums */
.image-gallery {
    margin: 10px 0 0 -10px;
}
.image-gallery li{
    margin: 0 0 10px 10px;
}

.devider {
    border-top: 1px solid #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.badge-small {
    font-size: 10px;
}

.breadcrumb  {
    margin-bottom: 10px;
}


.row-fluid .span4 {
    width: 300px;
    margin-left: 10px;
}

.row-fluid .span8 {
    width: 714px;
}

.well {
    margin-bottom: 10px;
}

.margin-null {
    margin: 0 0 0 0 !important;
}