
body {

    /*background-attachment: fixed;*/

    background-color: #444;
    background: url(/img/bg/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    /*background: url(/img/logos/index.jpg);*/

    /*background-position: center top;*/
    /*background-repeat: no-repeat;*/
}

#main-wrapper {
    background: url(/img/site/white-bg.png);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 4px 4px 4px 4px;
    width: 600px !important;
    margin-left: auto;
    margin-right: auto;
    width: 1024px !important;
    padding: 10px 15px;
}


.modal {
    display: none;
    max-width: 1000px;
    margin: -220px 0 0 -350px;
}
iframe{
    border:0
}
.clear{
    clear: both;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.user-photo-link {
    padding: 0 0 0 0 !important;
    width:23px;
    height:23px;
    display:block;
    overflow:hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.row-fluid .well {
    background-color: #F9F9F9;
}

.row-fluid .span8.well {
    background-color: #FFFFFF;
}

.well {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 #FFFFFF;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}


.alert p {
    margin: 0 0 0 0!important;
}

.oper-btn {
    width: 244px;
}

#sections-menu li a{
    line-height: 24px;
    font-size: 12px;
}

.well h4 {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

span.italic-12 {
    font-style: italic;
    font-size: 12px;
}

.mright10 {
    margin-right: 10px;
}


/*elrte editor fix START*/
.el-dialogform-content table, .el-dialogform-content tbody, .el-dialogform-content tr{
    display: block;
}
.el-dialogform-content tr td:first-child{
    width: 90px;
    font-size: 11px;
}

.el-dialogform-content select{
    width:auto;
    height: auto;
    line-height: inherit;
    margin-bottom: 5px;
}
.el-dialogform-content input{
    margin-bottom: 7px;
    width:auto;
    padding: 2px 3px;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}
.el-dialogform-content legend{
    line-height: inherit;
    width: auto;
}
/*elrte editor fix END*/
.light-grey {
    color: #C0C0C0;
}

/*MediaAlbums */
.image-gallery {
    margin: 10px 0 0 -10px;
}
.image-gallery li{
    margin: 0 0 10px 10px;
}

.devider {
    border-top: 1px solid #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.badge-small {
    font-size: 10px;
}

.breadcrumb  {
    margin-bottom: 10px;
}


.row-fluid .span4 {
    width: 300px;
    margin-left: 10px;
}

.row-fluid .span8 {
    width: 714px;
}

.well {
    margin-bottom: 10px;
}

.margin-null {
    margin: 0 0 0 0 !important;
}

.table {
    font-size: 12px !important;
}

.align-center {
    text-align: center !important;
}

.pagination ul > li > a, .pagination ul > li > span {
    line-height: 28px !important;
    font-size: 12px;
}

.sidebar-albums li{
    padding: 10px 0;
}




/*-----------------------------GALLERY------------------------------------*/
.gallery-item{
    position: relative;
}
.gallery-item .gallery-title {
    overflow: hidden;
    margin: 0 0 4px 0;
    color: #333;
}
.gallery-item .gallery-title span{
    white-space: nowrap;
}

.gallery-item .gallery-title::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 50;
    height: 20px;
    width: 35px;
    display: block;
    background: url(/img/site/gallery_title_shadow.png)
}

.sidebar-galery-item .gallery-title::after {
    background: url(/img/site/sb_gallery_title_shadow.png)
}
/*-----------------------------INFOPANELL------------------------------------*/

.infopanel-wrapper {
    /*width: 100%;*/
    margin: 5px 0 0 0;
}
.infopanel {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 11px;
    float: left;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px 15px;
    border-radius: 5px;
    line-height: 13px !important;
    clear: both;
}

.infopanel .label {
    margin: 5px 5px 0 0;
    line-height: 16px;
}
.infopanel .author {
    position: relative;
    margin: 0 10px;
}

.infopanel .label a {
    font-weight: normal;
    padding: 1px 5px 2px;
}

.infopanel .novote {
    float: left;
    margin-right: 15px;
    font-size: 9px;
    padding-top: 8px;
}

.infopanel .voting {
    float: left;
    position: relative;
    margin: 7px 15px 0 0;
}


/*-----------------------------VIDEO GALLERY------------------------------------*/


.video-gallery {
    margin: 10px 0 0 -10px;
}
.video-gallery li{
    margin: 0 0 10px 10px;
}

.video-gallery .infopanel{
    width: 300px;
}
.video-gallery .infopanel .comments{
    margin: 7px 5px 0 15px;
}
.video-gallery .infopanel .published{
    margin: 0 5px;
}

.video-gallery .infopanel .favorite{
    margin: 0 0 0 10px ;
}

.video-gallery .infopanel .author{
    margin: 5px 10px 0  20px;
}

.video-gallery li:nth-child(2n + 1){
    clear:both;
}

/*-----------------------------VIDEO GALLERY------------------------------------*/

.video-playlist li{
    margin: 0 0 30px 0;
}

.video-view .video-container{
    margin: 0 0 10px 0;
}

.video-view .infopanel{
    margin: 0 0 20px 0;
    width: 645px
}

/*-----------------------------VIDEO GALLERY------------------------------------*/
#user-albums li:nth-child(3n + 1) {
    clear: both;
}
#photos-gallery li:nth-child(4n + 1) {
    clear: both;
}