@import "../less/variables.less";
@import "../less/mixins.less";

@blue: #3bbfce;
@margin: 16px;

.content{
    .rotate(7deg);
    .box-shadow(0 2px 4px rgba(0,0,0,.45));
    .transition();

}

.captcha{
    img{
        vertical-align: top;
    }
    a{

    }
}



@import "extend.less";