.alert p {
    margin: 0 0 0 0!important;
}

.oper-btn {
    width: 244px;
}

.container {
    width: 1154px;
}

.navbar-top {
    width: 1154px;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 6px !important;
}

.span10 {
    width: 830px;
}

.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 1152px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.subnav a {
    color: #838383;
    text-shadow: none !important;
}

.subnav a:hover {
    color: #333333 !important;
}

.navbar-inner {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#top-menu {
    float:right !important;
    margin-right: 32px
}

.user-photo-link {
    padding: 0 0 0 0 !important;
    width:23px;
    height:23px;
    display:block;
    overflow:hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*-----------------------------PAGE------------------------------------*/
h1.page-title {
    margin-bottom: 7px;
}

h1 a.page-title {
    color: #666666;
    text-decoration: underline;
    font: 26px/118% normal Verdana,Tahoma,sans-serif;
}

h1 a.page-title:hover {
    color: #A3A3A3;
}

a.read-more {
    text-decoration: underline !important;
    font-size: 14px;
}

.page {
    margin-bottom: 40px !important;
    clear: both !important;
}

.page .sections {
    background: url("/img/icons/section.png") no-repeat scroll 0 0 transparent;
    color: #999999;
    margin-bottom: 15px;
    padding-bottom: 2px;
    padding-left: 25px;
    padding-top: 2px;
}

.page .sections a {
    color: #999999;
    font-size: 13px;
    text-decoration: underline;
}

.page ul.tags {
    background: url("/img/icons/tags.gif") no-repeat scroll 0 50% transparent;
    font-family: Verdana,sans-serif;
    font-size: 10px;
    margin-bottom: 15px;
    padding: 2px 0 2px 20px;
    margin: 0 0 0 0;
}

.page ul.tags li {
    color: #999999;
    display: inline;
}

.page ul.tags li a {
    color: #666666;
    text-decoration: underline;
}

/*-----------------------------PAGE INFOPANELL------------------------------------*/

.page .infopanel {
    font-family: Arial, sans-serif;
    font-size: 11px;
    float: left;
    border: 1px solid #E5E5E5;
    padding: 0 11px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 13px !important;
    margin-top: 10px !important;
    clear: both;
}

.page .infopanel .novote {
    float: left;
    margin-right: 15px;
    font-size: 9px;
    padding-top: 8px;
}

.page .infopanel .voting {
    float: left;
    position: relative;
    padding: 0px 20px;
    margin: 6px 0;
    margin-right: 23px;
}

/* еще не голосовал - не подсвечиваем ни чего. стрелки обычные, не затененные. */
.page .infopanel .voting .plus {
    width: 11px;
    height: 15px;
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
}

.page .infopanel .voting .minus {
    width: 11px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
}

.page .infopanel .voting a.plus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll left bottom transparent;
}

.page .infopanel .voting a.minus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll -11px bottom transparent;
}

.page .infopanel .voting.voted a.plus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll right top transparent;
}

.page .infopanel .voting.voted a.minus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll right bottom transparent;
}

.page .infopanel .voting span.plus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll right top transparent;
}

.page .infopanel .voting span.minus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll right bottom transparent;
}

/* проголосовал в плюс - подсвечиваем стрелку вверх и затемняем стрелку вниз*/
.page .infopanel .voting.voted_plus a.plus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll left top transparent;
}

.page .infopanel .voting.voted_plus span.plus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll left top transparent;
}

.page .infopanel .voting.voted_plus a.minus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll right bottom transparent;
}

.page .infopanel .voting.voted_plus span.minus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll right bottom transparent;
}

/* проголосовал в минус - подсвечиваем стрелку вниз и затемняем стрелку вверх */
.page .infopanel .voting.voted_minus a.plus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll top right transparent;
}

.page .infopanel .voting.voted_minus span.plus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll top right transparent;
}

.page .infopanel .voting.voted_minus a.minus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll -11px top transparent;
}

.page .infopanel .voting.voted_minus span.minus {
    background: url("/img/icons/icons_vote_pages.gif") no-repeat scroll -11px top transparent;
}

/* общий балл не известен */
.page .infopanel .voting .mark {
    float: left;
    color: #A9A9A9;
    font-weight: bold;
    font-size: 12px;
    margin-top: 1px;
}

.page .infopanel .voting .mark span {
    color: #A9A9A9;
}

.page .infopanel .voting .mark a {
    text-decoration: none;
    color: #A9A9A9;
}

/* общий бал выше нуля */
.page .infopanel .voting .mark.positive span {
    color: #339900;
}

/* общий балл - ниже нуля */
.page .infopanel .voting .mark.negative span {
    color: #CC0000;
}

/* q&a */
.page .infopanel .informative {
    float: left;
    font-size: 12px;
    width: 90px;
    text-align: center;
    padding: 0px;
    margin-left: 12px;
    line-height: 28px;
    background: #E1BCB1
}

.page .infopanel .informative a {
    color: #B45E46;
    text-decoration: none;
}

.page .infopanel .informative.positive,
.page .infopanel .informative.accepted {
    background: #9FBC91;
}

.page .infopanel .informative.positive a {
    color: #497434;
}

.page .infopanel .informative.accepted a {
    color: #FFF;
}

.page .infopanel .published {
    float: left;
    font-size: 9px;
    margin-right: 22px;
    line-height: 28px;
}

.page .infopanel .favorite {
    float: left;
    padding: 5px 0;
    padding-top: 6px;
    margin-right: 5px;
}

.page .infopanel .favorite a {
    width: 15px;
    height: 13px;
    display: block;
    margin-top: 1px;
}

.page .infopanel .favorite a.remove {
    background: url("data:image/gif;base64,R0lGODlhDwAaAOZ/APr7/LnO3bXL2uK7Vvz58NLu9friZ/z69arD0tXl7eHr8uL1+tLv89v09921Uf3phfzjcMra5dvl68nX4ef1+fz589rt9e79/+v7/Ka+zs7h6tny9d3EmqjAz+rQc+ft8d/1+PTjttSycvb///f6+/vx0rzR3vL2+P/////4rub5+/3qjf/zlu/0+fH5/MmdQtLh7PfYWP3oe83a4u/jzdi9ke3Ma8aaSbvN2r/T4PXdfunXs+LGivHWh/jbWuT4+a7K2dy2X8qbO8PW4sTc6fjaX/bUU/fUXOr6+9+5Y9bx89u1V//ukOLz9v/2usfV3uTAZ/z369GmQv/yr9yyRNDr9c3r87+RPP/4pPjgbPHWfOfCW8ygQ/zsl+jMc+jKeN719vLZgPjdXPP//7nL19yzUP/wjdCtbvzmcuXIb///x9Ho8vjkou/WgJy3x/HUafznd/nlh9WmPLXQ3fv48t67XdDj7P3pgPnx4Mrd6fjcWtewW/fw3/z46+LCcwAAACH5BAEAAH8ALAAAAAAPABoAAAf/gH+Cgy0KLYOIiTAuMImOJBEoESSOiAoJIwkKjkMmAZ8UF00CpAI5gjkuIxhIKio/CyAYFAGCJwEJYz9gDRsNFxoCJ4MAESYgSgwMGwETAIkACAwFDQVWGc+JEnMFC3YLVUASjjhrFgg4CBZEZI4dGh0ffx8ZeW6OMzPZfwATT5WCSrApARBRDyc9CgrqY0ONjSgKQ4RJoSVEIgJfBmgcsIJFHAcgy/ghQADKlBRMVjy4IwMOBDNdghD4gydJGywyIBjYycLDHj6DDvCog0aMHh9ZlvCokKiClBg+IMQwIoSOox1Uijzw8OCInB2ORLzRwUXECx1bzghCMeiFlxs0EP7QuJHmiiMOHA4ErVFjUCAAOw==") no-repeat left bottom;
}

.page .infopanel .favorite a.add {
    background: url("data:image/gif;base64,R0lGODlhDwAaAOZ/APr7/LnO3bXL2uK7Vvz58NLu9friZ/z69arD0tXl7eHr8uL1+tLv89v09921Uf3phfzjcMra5dvl68nX4ef1+fz589rt9e79/+v7/Ka+zs7h6tny9d3EmqjAz+rQc+ft8d/1+PTjttSycvb///f6+/vx0rzR3vL2+P/////4rub5+/3qjf/zlu/0+fH5/MmdQtLh7PfYWP3oe83a4u/jzdi9ke3Ma8aaSbvN2r/T4PXdfunXs+LGivHWh/jbWuT4+a7K2dy2X8qbO8PW4sTc6fjaX/bUU/fUXOr6+9+5Y9bx89u1V//ukOLz9v/2usfV3uTAZ/z369GmQv/yr9yyRNDr9c3r87+RPP/4pPjgbPHWfOfCW8ygQ/zsl+jMc+jKeN719vLZgPjdXPP//7nL19yzUP/wjdCtbvzmcuXIb///x9Ho8vjkou/WgJy3x/HUafznd/nlh9WmPLXQ3fv48t67XdDj7P3pgPnx4Mrd6fjcWtewW/fw3/z46+LCcwAAACH5BAEAAH8ALAAAAAAPABoAAAf/gH+Cgy0KLYOIiTAuMImOJBEoESSOiAoJIwkKjkMmAZ8UF00CpAI5gjkuIxhIKio/CyAYFAGCJwEJYz9gDRsNFxoCJ4MAESYgSgwMGwETAIkACAwFDQVWGc+JEnMFC3YLVUASjjhrFgg4CBZEZI4dGh0ffx8ZeW6OMzPZfwATT5WCSrApARBRDyc9CgrqY0ONjSgKQ4RJoSVEIgJfBmgcsIJFHAcgy/ghQADKlBRMVjy4IwMOBDNdghD4gydJGywyIBjYycLDHj6DDvCog0aMHh9ZlvCokKiClBg+IMQwIoSOox1Uijzw8OCInB2ORLzRwUXECx1bzghCMeiFlxs0EP7QuJHmiiMOHA4ErVFjUCAAOw==") no-repeat left top;
}

.page .infopanel .favorite a.guest {
    cursor: help;
    background: url("data:image/gif;base64,R0lGODlhDwAaAOZ/APr7/LnO3bXL2uK7Vvz58NLu9friZ/z69arD0tXl7eHr8uL1+tLv89v09921Uf3phfzjcMra5dvl68nX4ef1+fz589rt9e79/+v7/Ka+zs7h6tny9d3EmqjAz+rQc+ft8d/1+PTjttSycvb///f6+/vx0rzR3vL2+P/////4rub5+/3qjf/zlu/0+fH5/MmdQtLh7PfYWP3oe83a4u/jzdi9ke3Ma8aaSbvN2r/T4PXdfunXs+LGivHWh/jbWuT4+a7K2dy2X8qbO8PW4sTc6fjaX/bUU/fUXOr6+9+5Y9bx89u1V//ukOLz9v/2usfV3uTAZ/z369GmQv/yr9yyRNDr9c3r87+RPP/4pPjgbPHWfOfCW8ygQ/zsl+jMc+jKeN719vLZgPjdXPP//7nL19yzUP/wjdCtbvzmcuXIb///x9Ho8vjkou/WgJy3x/HUafznd/nlh9WmPLXQ3fv48t67XdDj7P3pgPnx4Mrd6fjcWtewW/fw3/z46+LCcwAAACH5BAEAAH8ALAAAAAAPABoAAAf/gH+Cgy0KLYOIiTAuMImOJBEoESSOiAoJIwkKjkMmAZ8UF00CpAI5gjkuIxhIKio/CyAYFAGCJwEJYz9gDRsNFxoCJ4MAESYgSgwMGwETAIkACAwFDQVWGc+JEnMFC3YLVUASjjhrFgg4CBZEZI4dGh0ffx8ZeW6OMzPZfwATT5WCSrApARBRDyc9CgrqY0ONjSgKQ4RJoSVEIgJfBmgcsIJFHAcgy/ghQADKlBRMVjy4IwMOBDNdghD4gydJGywyIBjYycLDHj6DDvCog0aMHh9ZlvCokKiClBg+IMQwIoSOox1Uijzw8OCInB2ORLzRwUXECx1bzghCMeiFlxs0EP7QuJHmiiMOHA4ErVFjUCAAOw==") no-repeat left top;
}

.page .infopanel .favs_count {
    float: left;
    font-size: 9px;
    line-height: 28px;
    cursor: help;
    display: block;
    position: relative;
    overflow: hidden;
}

.page .infopanel .author {
    position: relative;
    float: left;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 25px;
    font-weight: 700;
    background: url("/img/icons/bg-user2.gif") no-repeat scroll 0 7px transparent;
    padding-left: 17px;
}

.page .infopanel .author a {
    font-size: 9px;
    color: #CF0000;
    text-decoration: none;
}

.page .infopanel .author a:hover {
    color: #f17d7d;
}

.page .infopanel .author .rating {
    font-size: 9px;
    color: #C6C;
    font-weight: bold;
    cursor: help;
    position: absolute;
    top: -5px;
    left: 100%;
    white-space: nowrap;
}

.page .infopanel .original-author {
    float: left;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 22px;
    font-weight: 700;
    background: url("/img/icons/bg-author-link.gif") no-repeat scroll 0 50% transparent;
    padding-left: 10px;
}

.page .infopanel .original-author a {
    font-size: 9px;
    color: #CF0000;
    text-decoration: none;
}

.page .infopanel .original-author a:hover {
    color: #f17d7d;
}

.page .infopanel .downloaded {
    float: left;
    line-height: 28px;
    margin-right: 22px;
    font-weight: 700;
    background: url("/img/icons/bg-author-link.gif") no-repeat scroll 0 9px transparent;
    padding-left: 8px;
}

.page .infopanel .downloaded a {
    font-size: 9px;
    color: #CF0000;
    text-decoration: none;
}

.page .infopanel .downloaded a:hover {
    color: #f17d7d;
}

.page .infopanel .link {
    float: left;
    line-height: 28px;
    margin-right: 22px;
    font-weight: 700;
    background: url("/img/icons/bg-author-link.gif") no-repeat scroll 0 50% transparent;
    padding-left: 10px;
}

.page .infopanel .link a {
    font-size: 9px;
    color: #CF0000;
    text-decoration: none;
}

.page .infopanel .link a:hover {
    color: #f17d7d;
}

.page .infopanel .comments {
    float: left;
    line-height: 28px;
    margin-left: 17px;
    font-weight: 700;
    background: url("/img/icons/bg-comments2.gif") no-repeat left 8px;
    padding-left: 17px;
}

.page .infopanel .comments a {
    font-size: 9px;
    color: #CF0000;
    text-decoration: none;
}

.page .infopanel .comments a:hover {
    color: #f17d7d;
}

.page .infopanel .comments a .all {
}

.page .infopanel .comments a .new {
    color: #339900;
}

.modal {
    display: none;
}