.profile-head img {
    float: left;
    margin-right: 10px;
}

.profile-head h1 {
    /*border: 1px solid red;*/
    padding-top: 8px !important;
    float: left !important;
    font-size: 40px;
    color: gray !important;
}

.profile-head .label {
    float: right;
    font-size: 15px !important;
    padding: 5px;
    margin-top: 8px !important;
}

.update-link {
    text-decoration: underline;
    font-size: 13px;
    clear: both;
}

.profile-table {
    margin-top: 10px !important;
}

.page .infopanel .author {
    position: relative;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 25px;
    font-weight: 700;
    padding-left: 17px;
}

.author a {
    font-size: 9px;
    color: #CF0000;
    text-decoration: none;
}

.author a:hover {
    color: #f17d7d;
}

.author .rating {
    font-size: 9px;
    color: #C6C;
    font-weight: bold;
    cursor: help;
    position: absolute;
    top: -5px;
    left: 100%;
    white-space: nowrap;
}
