.ch_td {
    width: 10px;
}

#rch_tpl tr {
    vertical-align: top;
}

#rch_tpl td {
    padding: 4px 2px 2px 2px !important;
    border-bottom: 0 !important;
}

.uch_tbl {
    display: none;
}

.uch_tbl td {
	border-bottom: 0 !important;
}