a.btn:hover, a.btn:visited, a.btn:link{
    color: #FFF;
}
.pagination{
    margin: 0;
}
.pagination a{
    line-height: 25px
}

.small .add-on
{
    padding: 1px 3px;
}


.icon-sortable{
    width:               16px;
    height:              16px;
    line-height:         16px;
    background-image:    url("/img/icons/sort.png");
    background-repeat:   no-repeat;
    background-position: 0 0;
    cursor:              pointer;
    display:             block;
    margin:              0 auto;
}

.icon-loader{
    width:               16px;
    height:              16px;
    line-height:         16px;
    background-image:    url("/img/icons/ajax-loader.gif");
    background-repeat:   no-repeat;
    background-position: 0 0;
}

.icon-ok-btn{
    width:               16px;
    height:              16px;
    line-height:         16px;
    background-image:    url("/img/icons/ok_16.png");
    background-repeat:   no-repeat;
    background-position: 0 0;
    cursor:              pointer;
}

.icon-cancel-btn{
    width:               16px;
    height:              16px;
    line-height:         16px;
    background-image:    url("/img/icons/cancel_16.png");
    background-repeat:   no-repeat;
    background-position: 0 0;
    cursor:              pointer;
}
