a.btn:hover, a.btn:visited, a.btn:link{
    color: #FFF;
}
.pagination{
    margin: 0;
}
.pagination a{
    line-height: 25px
}

.small .add-on{
    padding: 1px 3px;
}

.sortable_col .icon-sortable{
    display: block;
    margin:  0 auto;
}

ul{
    list-style: none;
    margin: 0;
}
ul ul{
    margin: 0 0 9px 25px
}

.placeholder td, tr.placeholder:nth-child(odd), tr.placeholder:nth-child(odd) th{
    background: url(/img/admin/placeholder.png);
}
.form-search{
    margin: 10px 0 10px 20px;
}
.search-query{
    background: white url(/img/admin/icn_search.png) no-repeat;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    background-position:  10px 6px;
    padding-left: 30px;
}

#select-lang-form dd{
    padding: 0;
    margin-left: 0;
}

.admin-console{
    position: fixed;
    top: 0;
    height: 60%;
    width: 100%;
    color:#eee;
    background: #666;
    display: none;
    font-family: Consolas, monospace;
    font-size: 14px;
    border-bottom: 2px solid #333;
    word-wrap: break-word;
    box-shadow: 0 0 20px rgba(0,0,0,0.9); /* Параметры тени */
}
div.jquery-console-inner{
    font-family: Consolas, monospace;
    height: 100%;
    width: 100%;
    overflow:auto;
}
span.jquery-console-cursor{
    margin-left: 1px;
    border-left: #eee 2px solid;
}

.grid-view .filters .hasDatepicker{
    display: inline-block !important;
}


.modal
{
    width: 700px;
    margin: -350px 0 0 -280px;
}