#panel {
    background:#666666;
    height: auto;
    padding: 10px 20px 0 20px;
    text-align: center !important;
    display:none;
}

.slide {
    margin: 0;
    padding: 0;
    border-top: solid 4px #422410;
    background: url(/images/admin/btnb.gif) no-repeat center top !important;
}

.btn-slide {
    background: url(/images/admin/white-arrow.gif) no-repeat right -50px;
    text-align: center;
    width: 144px;
    height: 31px;
    padding: 8px 10px 0 0;
    margin: 0 auto;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}

.active {
    background-position: right 12px;
}

.module_div {
    margin-right: 30px;
    margin-bottom: 10px;
    float: left;
    display:block;
}
