<!doctype>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>{{SUBJECT}}</title>
        <style type="text/css">
        table, tbody, tr, td, img, font, a, i {
            font-family: Arial;
            border:0;
            padding: 0;
            margin: 0;
            border-collapse: collapse;
        }
        p {
            margin: 1em 0px;
        }
        font {
            display: inline;
        }
      	</style>
	</head>
	<body style="margin:0;padding:0;width:800px; background: white;">
        {{BODY}}
	</body>
</html>