table.detail-view .null
{
	color: pink;
}

table.detail-view
{
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

table.detail-view th, table.detail-view td
{
	border: 1px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th
{
	text-align: right;
	width: 160px;
}

table.detail-view tr.odd
{
	background: #E0E0E3;
}

table.detail-view tr.even
{
	background:#F8F8F8;
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}
